body{
    background-color: black;
    color: seashell;
    font-size: 22px;
    opacity: 0.9;
    text-align: center;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
header{
    
    height: 69px;
    width: 100%;
   
   
    align-items: center;
    border-bottom: 1px solid seashell;
}
.img1{
    height: 50px;
    padding-left: 10px;

}

nav {
    text-align: right;
    flex-grow: 1;
    
  }
  nav a{
      padding: 20px 10px;
      color:seashell;
  }

#mission{
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
    width: 1200px;
    height: 700px;
    align-items: center;
    padding-top: 70px;
    margin: auto;
}
#mission div{
    background-color: black;
    width: 1200px;
    
   
}

.item img{
    height: 200px;
    
    padding-bottom: 10px;
}
#store{
    width: 1000px;
    margin: auto;
    padding-top: 70px;
    height: 700px;

 
    
}
.item{
    width: 300px;
    padding:10px;
    
}
